.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a{
    position: absolute;
    top: -40px;
    z-index: 1;
} 
  
.skip a:focus {
    top: 20px;
}

header{
    font-size: 30px;
}

.active{
    color: brown;
    font-weight: bolder;
    font-size: larger;
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
  
    .skip a{
      -webkit-transition: none;
      transition: none;
     }
  
    header{
      background-attachment: initial;
    }
  }